[submodule "ProjectOszi/vendor/spdlog"]
	path = ProjectOszi/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "ProjectOszi/vendor/GLFW"]
	path = ProjectOszi/vendor/GLFW
	url = https://github.com/WPrductions/glfw.git
